*{padding: 0;
    margin:0;}
@font-face{
    font-family:'HelveticaBold';
    src: url(font/HelveticaNeueBold.ttf);}
@font-face{
    font-family:'LaBelle';
    src: url(font/LaBelleAurore-Regular.ttf);}

/********** PreLoader **********/
.pls{
      position: absolute;
      z-index: 1;
      background-color: #1D1D1D;
      width: 100%;
      height: 100%;
      display: block;
  }
.prelogo{
      width:25%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      cursor:default;
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none;
              user-select: none;}
.think{
      cursor:default;
      display: block;
      font-family:sans-serif;
      color:white;
      font-weight:lighter;
      font-size:12px;
      letter-spacing:1px;}
.preloader{
      width: 200px;
      height: 200px;
      align-items: center;
      display: block;
      text-align: center;
      position:fixed;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      animation:fadein 1s ease-in-out;}
@keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }}
.progressbar{
      width:200px;
      height:2px;
      background:#8d8d8d;
      border-radius:1px;}
.progressbar::after{
      content: "";
      width:50px;
      height:2px;
      background:rgb(8, 253, 216);
      display: block;
      border-radius:1px;
      animation: animation 2s ease-in-out infinite;}
@keyframes animation {
      0% {
          transform: translateX(0px);}
      50% {
          transform: translateX(150px);}
      100% {
          transform: translateX(0px); }}

/********** BODY **********/
body{   overflow: hidden;
        -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
    background-color: #1D1D1D;
    min-height: 550px !important;
    min-width: 420px;
  
  }
a{text-decoration: none;}
.container{
    width: 4rem;
    background: #181818;
    position: fixed;
    height: 100%;}
.logo{height: 80px;
    background-color: black;}
.logo1{
    width:30px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top:15px;}.logo2{width: 57px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top:5px;}
.navb{
    width: 4rem;
    position: fixed;}
.nav{display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    margin-top: -40px;}
.base{position: fixed;
    bottom: 2px;
    padding: 25px;}
.ab{color: #a5a5a5;
    display: block;
    margin-top: 45px;}
.bc{color: #a5a5a5;
    display: block;
    margin-top: 10px;}

.ab:hover,.bc:hover,.ca:hover{
    color: #08fdd8;}
@media only screen and (max-width: 960px),
       only screen and (max-height:500px){
    .nav{
        padding:0px;
        margin-top: 0px;
        display: flex;
        left: 50%;
        transform: translate(-50%);
        top: -15px;}
    .base{
        display: flex;
        right: 1px;
        top: 0px;}
    .ab{
        margin-right: 45px;}
    .bc{
        margin-right: 15px;}
    .container{
        width: 100%;
        height: 5rem;
        background: #181818; }
    .logo{
        width: 4rem;}}
@media only screen and (max-width: 570px){
    .hsds, .hsde, .navb{display: none;}}
@media only screen and (min-width:569px){
    .responsivelist{display: none}
    .responsivemenu{display: none;}}
.responsivelist{
    text-align:right;
    margin-top: -65px;
    line-height: 50px;
    outline: none;}
label:hover{
    color: #08fdd8;}
label{
    margin: 0 25px 0 0;
    font-size: 30px;
    color: white;
    cursor: pointer;}
.ca{color: #a5a5a5;}
.responsivemenu{display: block;
    position: absolute;
    right:-100%;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 20px;
    background: #181818;
    transition: all 0.5s;}
#taggle{
    display: none;}
#taggle:checked + .responsivemenu{
    right:0;}
@media only screen and (max-width:960px),
        only screen and (max-height:500px){
            .hsds, .hsde, .music{display: none;}}
.music{
    cursor: default;
    font-family:'HelveticaBold';
    color: white;
    float: right;
    margin-right: 30px;
    margin-top: 30px;}
.on-off{
    cursor: pointer;
    color: #FD1056;}

/********** HOME **********/
.Homedetails{
  margin-left: 10%;
  display:block;
  position: fixed;
  top: 50%;
  transform: translateY(-40%);
  padding: 20px;
  margin-top: -40px;
  cursor:default;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none;}
.homecontact{
animation: fadein 5s;}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }}
.animate{
  line-height: 60px;}
.animate span:hover {
color:#08fdd8;
animation:all;}
.homelogo{
  margin-right: 2px;
  width: 46px;}
.animate {
  font-family:'HelveticaBold';
  font-size:50px;}
.animate span {
  margin-left:-2px;
  display:inline-block;}
.animate span:nth-of-type(2) {
animation-delay: .5s;}
.animate span:nth-of-type(3) {
animation-delay: .1s;}
.animate span:nth-of-type(4) {
animation-delay: .15s;}
.animate span:nth-of-type(5) {
animation-delay: .2s;}
.animate span:nth-of-type(6) {
animation-delay: .25s;}
.animate span:nth-of-type(8) {
animation-delay: .35s;}
.animate span:nth-of-type(9) {
animation-delay: .4s;}
.animate span:nth-of-type(10) {
animation-delay: .45s;}
.animate span:nth-of-type(11) {
animation-delay: .5s;}
.animate span:nth-of-type(12) {
animation-delay: .55s;}
.animate span:nth-of-type(13) {
animation-delay: .6s;}
.animate span:nth-of-type(14) {
animation-delay: .65s;}
.animate span:nth-of-type(15) {
animation-delay: .7s;}
.animate span:nth-of-type(16) {
animation-delay: .75s;}
.animate span:nth-of-type(17) {
animation-delay: .8s;}
.animate span:nth-of-type(18) {
animation-delay: .85s;}
.animate span:nth-of-type(19) {
animation-delay: .9s;}
.animate span:nth-of-type(20) {
animation-delay: .95s;}
.animate span:nth-of-type(21) {
animation-delay: 1s;}
.animate span:nth-of-type(22) {
animation-delay: 1.15s;}
.animate span:nth-of-type(23) {
animation-delay: 1.2s;}
.animate span:nth-of-type(24) {
animation-delay: 1.25s;}
.animate span:nth-of-type(25) {
animation-delay: 1.5s;}
.animate span:nth-of-type(26) {
animation-delay: 1.55s;}
.animate span:nth-of-type(27) {
animation-delay: 1.6s;}
.animate span:nth-of-type(28) {
animation-delay: 1.65s;}
.animate span:nth-of-type(29) {
animation-delay: 1.7s;}
.animate span:nth-of-type(30) {
animation-delay: 1.75s;}
.animate span:nth-of-type(31) {
animation-delay: 1.8s;}
.animate .homelogo{
animation-delay: .3s;}
.three span {
font-size: 5vw;
color:white !important;
opacity: 0;
transform: translate(-50px, 0) scale(0);
animation: sideSlide 0.6s forwards;}
.three .homelogo{
width: 4vw;
color: #08fdd8;
opacity: 0;
transform: translate(-50px, 0) scale(0);
animation: sideSlide 0.6s forwards;}
@keyframes sideSlide {
60% {
  transform: translate(20px, 0) scale(1);
  color: #08fdd8;}
80% {
  transform: translate(20px, 0) scale(1);
  color: #08fdd8;}
99% {
  transform: translate(0) scale(1.2);
  color: #08fdd8;}
100% {
  transform: translate(0) scale(1);
  opacity: 1;
  color: white;}}
.contactme{
  font-size:15px ;
  color: #08fdd8;
  border: 1.5px solid;
  word-spacing: 3px;
  letter-spacing: 3px;
  padding: 15px;
  font-weight:600;
  font-family:sans-serif;}
.contactme:hover{
  color: black;
  background-color:#08fdd8;
  border-color:#08fdd8;}
.hsds{
  padding-bottom:30px;
  font-family:'LaBelle';
  color:dimgray;
  font-size:17px;
  animation: fadein 2s;}
.hsde{
  margin-top:20px;
  font-family:'LaBelle';
  color:dimgray;
  font-size:17px;
  padding-top: 30px;
  animation: fadein 2s;}
@media only screen and (max-width:960px){
  .three span{
    font-size: 6vw;}
  .three .homelogo{
    width: 6vw;}}
@media only screen and (max-width:570px){
    .three span{
      font-size: 10vw;}
    .three .homelogo{
      width: 10vw;}}    
.Homedetails{
  display:block;}

/********** ABOUT **********/
.aboutdetails{
    margin-left: 10%;
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-40%);
    padding: 20px;
    margin-top: -40px;
    cursor:default;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;}
.detail{
    max-width: 400px;
    font-family:sans-serif;
    color:#ffffff;
    font-weight:300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    animation: fadein 2s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }}
.animate2{
    font-family:'HelveticaBold';
    font-size:50px;
    width: 230px;
    margin-bottom:30px;
    line-height: 43px;}
.animate2 span:hover{
  animation:all;}
.animate2 span {
    margin-left:-1px;
    display:inline-block;}
.animate2 span:nth-of-type(2) {
  animation-delay: .5s;}
.animate2 span:nth-of-type(3) {
  animation-delay: .1s;}
.animate2 span:nth-of-type(4) {
  animation-delay: .15s;}
.animate2 span:nth-of-type(5) {
  animation-delay: .2s;}
.animate2 span:nth-of-type(6) {
  animation-delay: .25s;}
.animate2 span:nth-of-type(7) {
  animation-delay: .35s;}
.three2 span {
  color: #08fdd8;
  opacity: 0;
  transform: translate(-50px, 0) scale(0);
  animation: sideSlide 0.6s forwards;}
@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #08fdd8;}
  80% {
    transform: translate(20px, 0) scale(1);
    color: #08fdd8;}
  99% {
    transform: translate(0) scale(1.2);
    color: #08fdd8;}
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color:#08fdd8;}}
@media only screen and (max-width:960px){
    .aboutdetails{
        margin-left:4%;}}
.aboutdetails{
    display:none;}

/********** SKILLS **********/
.skillsdetails{
    margin-left: 10%;
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-40%);
    padding: 20px;
    margin-top: -40px;
    cursor:default;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;}
.detail2{
    max-width: 400px;
    font-family:sans-serif;
    color:#ffffff;
    font-weight:300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    animation: fadein 2s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }}
.animate3{
    font-family:'HelveticaBold';
    font-size:50px;
    width: 270px;
    margin-bottom:30px;
    line-height: 43px;}
.animate3 span:hover{
  animation:all;}
.animate3 span{
    margin-left:-1px;
    display:inline-block;}
.animate3 span:nth-of-type(2) {
  animation-delay: .5s;}
.animate3 span:nth-of-type(3) {
  animation-delay: .1s;}
.animate3 span:nth-of-type(4) {
  animation-delay: .15s;}
.animate3 span:nth-of-type(5) {
  animation-delay: .2s;}
.animate3 span:nth-of-type(6) {
  animation-delay: .25s;}
.animate span:nth-of-type(7) {
  animation-delay: .3s;}
.animate3 span:nth-of-type(8) {
  animation-delay: .35s;}
.animate3 span:nth-of-type(9) {
  animation-delay: .4s;}
.animate3 span:nth-of-type(10) {
  animation-delay: .45s;}
.animate3 span:nth-of-type(11) {
  animation-delay: .5s;}
.animate3 span:nth-of-type(12) {
  animation-delay: .55s;}
.animate3 span:nth-of-type(13) {
  animation-delay: .6s;}
.animate3 span:nth-of-type(14) {
  animation-delay: .65s;}
.animate3 span:nth-of-type(15) {
  animation-delay: .7s;}
.animate3 span:nth-of-type(16) {
  animation-delay: .75s;}
.animate3 span:nth-of-type(17) {
  animation-delay: .8s;}
.animate3 span:nth-of-type(18) {
  animation-delay: .85s;}
.animate3 span:nth-of-type(19) {
  animation-delay: .9s;}
.animate3 span:nth-of-type(20) {
  animation-delay: .95s;}
.animate3 span:nth-of-type(21) {
  animation-delay: 1s;}
.animate3 span:nth-of-type(22) {
  animation-delay: 1.15s;}
.animate3 span:nth-of-type(23) {
  animation-delay: 1.2s;}
.animate3 span:nth-of-type(24) {
  animation-delay: 1.25s;}
.animate3 span:nth-of-type(25) {
  animation-delay: 1.5s;}
.animate3 span:nth-of-type(26) {
  animation-delay: 1.55s;}
.animate3 span:nth-of-type(27) {
  animation-delay: 1.6s;}
.animate3 span:nth-of-type(28) {
  animation-delay: 1.65s;}
.three3 span {
  color: #08fdd8;
  opacity: 0;
  transform: translate(-50px, 0) scale(0);
  animation: sideSlide 0.6s forwards;}
@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #08fdd8;}
  80% {
    transform: translate(20px, 0) scale(1);
    color: #08fdd8;}
  99% {
    transform: translate(0) scale(1.2);
    color: #08fdd8;}
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color:#08fdd8;}}
@media only screen and (max-width:960px){
    .skillsdetails{
        transform: translateY(-35%);
        margin-left:5%;}}
.skillsdetails{
    display:none;}

/********** CONTACT **********/
.cmdetails{
    margin-left: 10%;
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-40%);
    padding: 20px;
    margin-top: -40px;
    cursor:default;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;}
.name:focus::placeholder,
.email:focus::placeholder,
.subject:focus::placeholder,
.message:focus::placeholder{
  color: transparent;}
.detail3{
    display: flex;;
    margin-bottom:15px;
    max-width: 400px;
    font-family:sans-serif;
    color:#ffffff;
    font-weight:300;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    animation: fadein 2s;}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }}
.cm{ 
    width: 441px;
    animation: fadein 2s;}
.name,.email,.subject,.message{
    font-size: 15px;
    color: #8d8d8d;
    border-color: none;
    outline: none;
    height: 25px;
    font-family:'Helvetica';
    background:#2b2b2b;
    border: 1px solid #2b2b2b; 
    padding: 15px 30px 15px 30px;
    margin-right: 5px;
    margin-bottom: 5px;}
.animate4{
    font-family:'HelveticaBold';
    font-size:50px;
    width: 300px;
    margin-bottom:15px;
    line-height: 43px;}
.animate4 span:hover{
  animation:all;}
.animate4 span{
    margin-left:-1px;
    display:inline-block;}
.animate4 span:nth-of-type(2) {
  animation-delay: .5s;}
.animate4 span:nth-of-type(3) {
  animation-delay: .1s;}
.animate4 span:nth-of-type(4) {
  animation-delay: .15s;}
.animate4 span:nth-of-type(5) {
  animation-delay: .2s;}
.animate4 span:nth-of-type(6) {
  animation-delay: .25s;}
.animate4 span:nth-of-type(7) {
  animation-delay: .3s;}
.animate4 span:nth-of-type(8) {
  animation-delay: .35s;}
.animate4 span:nth-of-type(9) {
  animation-delay: .4s;}
.three4 span {
  color: #08fdd8;
  opacity: 0;
  transform: translate(-50px, 0) scale(0);
  animation: sideSlide 0.6s forwards;}
@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #08fdd8;}
  80% {
    transform: translate(20px, 0) scale(1);
    color: #08fdd8;}
  99% {
    transform: translate(0) scale(1.2);
    color: #08fdd8;}
  100% {
    transform: translate(0) scale(1);
    opacity: 1;
    color:#08fdd8;}}
.name{
    width: 140.1px;}
.subject{
    width:375px; }
.message{
    width:375px;
    height: 100px;}
.send{
    font-size:15px ;
    color: #08fdd8;
    border: 1px solid;
    word-spacing: 3px;
    letter-spacing: 3px;
    padding: 10px;
    text-decoration: none;
    margin-right:3px;
    border-radius: 3px;
    font-family:sans-serif;
    float:left;}
.send:hover{
    cursor: pointer;
    color: black;
    background-color:#08fdd8;
    border-color:#08fdd8;}
.name:focus,.email:focus,.subject:focus,.message:focus{
    border-bottom:2px solid #08fdd8;}
@media only screen and (max-width:960px){
    .cmdetails{
    margin-left:4%;
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-30%);
    padding: 20px;
    margin-top: -40px;}}
@media only screen and (max-width:570px){
    .cmdetails{
      margin-left:4%;}}
.cmdetails{display:none;}
@media only screen and (max-width:446px){
  .detail3{max-width: 300px !important;}
}

/********** WORK PAGE **********/

.workdetails{
  margin-left: 10%;
  display: block;
  position: fixed;
  top: 50%;
  transform: translateY(-40%);
  padding: 20px;
  margin-top: -35px;
  cursor:default;
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none;
      animation: fadein 2s;}

.image-grid {
  height: auto;
  display: flexbox;
  max-width: 900px;
  color: white;
}
.image-grid img {
  display: block;
  margin: 0px;
  float:left;

}
.image-description {
  margin-top: 4px;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  max-height: 135px;
  min-width: 50px;
  float: left;
  padding: 0px 20px;
}

.grid-left {
  width: 50%;
  float: left;
  margin-top: -5px;
  margin-bottom: 30px;
}
.grid-right {
  width: 50%;
  margin-top: -5px;
  float: right;
  margin-bottom: 30px;
}
.cta {
  font-weight: bold;
  font-family: sans-serif;
  display: block;
  color:#08fdd8;


}
.logo-images{
  display: block;
  width: 140px;
  height: 140px;
  padding-right: 20px;
  border-right: 2px solid #08fdd8;
  cursor: pointer;
}
.word-details{
  margin-bottom: -7px;
  color: #08fdd8;
  font-weight: bold;
  font-size: 18px;
}
.cont{
  position: relative;}
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #08fdd8;
  overflow: hidden;
  width: 140px;
  height: 0px;
  transition: .5s ease;
  bottom: 0px;
}
.cont:hover > .overlay{
height:140px;
bottom:-140px;
}

.vw {
  white-space: wrap; 
  font-family:sans-serif;
  color:#1D1D1D;
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.pagination {
  display: inline-block;

}

.pagination a {
  color:#a5a5a5;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #a5a5a5;
  font-size: 14px;}

.pagination a.active {
  background-color:#08fdd8;
  color:#1D1D1D;
  border: 1px solid #08fdd8;}

.pagination a:hover:not(.active) {background-color: #ddd;}

@media only screen and (max-width:819.4px){
.image-description{display:none;}
.logo-images{border-right: 0px !important;
  width: 140px;
  height: 140px;
}
.workdetails{
  margin-top: 0px;
  margin-left: 4%;
}

}

.wp2{display: none;}
.workdetails{display: none;}
